.johnny {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 20%;
}

.contact-button {
  position: fixed;
  right: 30px;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 10%;
}
